.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: orange; /* Or any color you prefer */
  border-radius: 50%;
  margin-bottom: 100px;
  margin-left: 1180px; /* Adjust margin as needed to position the circle */
}

/* Add any other styles you need */
.div{
  margin-top: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url(../public/Images/KIU\ Background.jfif);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HOD{
  background-color: #282c34;
  background-image: url(../public/Images/viktor-talashuk-05HLFQu8bFw-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
